name: Java CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 1.8
      uses: actions/setup-java@v4
      with:
        java-version: 25
        distribution: 'temurin'
    - name: Build with Ant
      run: ant -noinput -buildfile build.xml
    - name: Compute commit short SHA
      id: shortsha
      run: echo "::set-output name=value::$(git rev-parse --short HEAD)"
    - uses: actions/upload-artifact@v4
      with:
        name: freej2me-${{ steps.shortsha.outputs.value }}
        path: build/freej2me.jar
